* {
    font-family: 'Alata', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
body{
    padding: 0px;
    margin: 0px;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: auto;
    height: 100%;
}
h1{
    color: white;
}
.content{
    margin: 4vh 6vw;
    height: 90vh;
    background-color: rgba(247, 77, 148, 0.938);
}

.sell{
    width: 85vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    margin: 10px;
    padding: 4vh;
    border-radius: 40px;
    overflow: auto;
}
