<!DOCTYPE html>
<html>
<head>
	<title>Lab-1 61070230 - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<center>
	<div id="app">

		<h1>💡 มาท่องสูตรคูณกันเถอะ 💡 </h1>
		<h3 id="text1">ตัวคูณ</h3><input type="number" v-model="n">
		&emsp;
		<h3 id="text1">จำนวนแถว</h3><input type="number" v-model="row">
		<div class="space"></div>
		<h2 id="text2">สูตรคูณแม่ {{n}}</h2>

		<h3
		class="row1" v-for="i in r">
		{{n}} x {{i}} = {{x(i)}}</h3>

		<!-- <h4>{{n}} x 1 = {{n}}</h4>
		<h4>{{n}} x 2 = {{x2}}</h4>
		<h4>{{n}} x 3 = {{x3}}</h4>
		<h4>{{n}} x 4 = {{x4}}</h4>
		<h4>{{n}} x 5 = {{x5}}</h4>
		<h4>{{n}} x 6 = {{x6}}</h4>
		<h4>{{n}} x 7 = {{x7}}</h4>
		<h4>{{n}} x 8 = {{x8}}</h4>
		<h4>{{n}} x 9 = {{x9}}</h4>
		<h4>{{n}} x 10 = {{x10}}</h4>
		<h4>{{n}} x 11 = {{x11}}</h4>
		<h4>{{n}} x 12 = {{x12}}</h4> -->
		<br><h3 id="text2">แม่ก่อนหน้าคือ แม่ {{before_n}}</h3>
		<h2>SUM = {{s(row)}}</h2>
	</div></center>

	<script>
		let app = new Vue({
			el:'#app',
			data:{
				n: 2,
				before_n: 1,
				row: 12
			},
			methods:{
				x: function(row){
					return this.n*row
				},
				s: function(row){
					sum = 0
					for (var i = 1; i <= row; i++) {
                        sum += (this.n * i)
                    }
					return sum
				}
			},
			computed:{
				r: function(){
					return parseInt(this.row)
				},
				x2: function(){
					return this.n*2
				},
				x3: function(){
					return this.n*3
				},
				x4: function(){
					return this.n*4
				},
				x5: function(){
					return this.n*5
				},
				x6: function(){
					return this.n*6
				},
				x7: function(){
					return this.n*7
				},
				x8: function(){
					return this.n*8
				},
				x9: function(){
					return this.n*9
				},
				x10: function(){
					return this.n*10
				},
				x11: function(){
					return this.n*11
				},
				x12: function(){
					return this.n*12
				}
			},
			watch: {
				n: function(a,b){
					this.before_n = b
				}
			}
		})
	</script>
</body>
</html>
