* {
    font-family: 'Sriracha', cursive;
}

#app{
    padding-bottom: 3vh;
    padding-top: 3vh;
    padding-left: 20vw;
    padding-right: 20vw;
    border-radius: 4px;
    box-shadow: 0px 2px 12px rgb(159, 194, 235);
    margin: 3vh 4vw;
}

h1 {
    color: purple;
}
#text1 {
    color: gray;
}
#text2 {
    color:palevioletred;
}
.row1 {
    box-shadow: 0px 2px 12px rgb(175, 129, 129);
    padding: .2em .4em;
    border-radius: 4px;
    margin-bottom: .4em;
}
